<?xml version="1.0" encoding="UTF-8"?>
<launch>
  
    <rosparam param="init_value">  [0.0, -1.0, 0.0, 0.0,
                                    0.0, 0.0, -1.0, 0.0,
                                    1.0, 0.0, 0.0,  0.0] </rosparam>  <!-- init value of roatation matrix(3*3 on the left) and the translation(3*1 vector on the right) -->

    <arg name="intrinsic_path"    default="$(find camera_lidar_calibration)/../../data/parameters/intrinsic.txt" />
    <arg name="extrinsic_path"    default="$(find camera_lidar_calibration)/../../data/parameters/extrinsic.txt" />
    <arg name="input_lidar_path"  default="$(find camera_lidar_calibration)/../../data/corner_lidar.txt" />
    <arg name="input_photo_path"  default="$(find camera_lidar_calibration)/../../data/corner_photo.txt" />
    <arg name="error_threshold" default="12" />

    <param name="intrinsic_path"    value="$(arg intrinsic_path)" />  <!-- intrinsic file -->
    <param name="extrinsic_path"    value="$(arg extrinsic_path)" />  <!-- extrinsic file -->
    <param name="input_lidar_path"  value="$(arg input_lidar_path)" />  <!-- get the lidar corner data -->
    <param name="input_photo_path"  value="$(arg input_photo_path)" />  <!-- get the photo corner data -->
    <param name="error_threshold"    type="int" value="$(arg error_threshold)" />  <!-- the threshold of the reprojection error -->

    <node pkg="camera_lidar_calibration" name="getExt1" type="getExt1" output="screen"></node>

</launch>

