<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="input_bag_path"        default="$(find camera_lidar_calibration)/../../data/lidar/" /> 
    <arg name="output_pcd_path"       default="$(find camera_lidar_calibration)/../../data/pcdFiles/" />  
    <arg name="threshold_lidar"       default="80" />  
    <arg name="data_num"              default="10" />  

    <param name="input_bag_path"        value="$(arg input_bag_path)" />  <!-- rosbag folder -->
    <param name="output_pcd_path"       value="$(arg output_pcd_path)" />  <!-- path to save new pcd files -->
    
    <param name="threshold_lidar"       type="int" value="$(arg threshold_lidar)" />  <!-- the limit of messages to transfer to the pcd file, 80 means maximum 80 messages of lidar -->
    <param name="data_num"              type="int" value="$(arg data_num)" />  <!-- the number of the rosbag -->
  
    <node pkg="camera_lidar_calibration" name="pcdTransfer" type="pcdTransfer" output="screen"></node>

</launch>

